@inherits UmbracoViewPage<Usn_Pc_AnchorNavigation_AN>

@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNModels;

@{
    string pageLayout = ViewData["pageLayout"].ToString();
    string animateClass = Model.Animate ? "os-animation" : String.Empty;
    string backgroundImageStyle = ThemeHelper.GetBackgroundImageStyle(Model.BackgroundImageOptions, Model.BackgroundImage);
    string backGroundColor = Model.BackgroundColor.label + "-bg";
    USNAnimation animation = ThemeHelper.GetAnimationSettings(Model.Animate,Model.AnimationDelay,Model.AnimationStyle);
    string alignment = ThemeHelper.GetJustifyTextAlignmentClass(Model.NavigationAlignment);

    if(Model.AnchorNavigation != null)
    { 
        <section class="content component anchors-component sticky @backGroundColor @Model.CustomComponentClasses" id="@Html.Raw("pos_" + Model.Id)" @Html.Raw(backgroundImageStyle)>

            @if (pageLayout == "pageLayoutFull")
            {
                if (Model.ComponentWidth == "componentWidthCenter")
                {
                    @:<div class="container"><div class="row justify-content-center"><div class="content-col center-col col-lg-6 col-12 col">
                }
                else if (Model.ComponentWidth == "componentWidthFull")
                {
                    @:<div class="container-fluid">
                }
                else
                {
                    @:<div class="container">
                }

            }

            <div class="expand @alignment">
                <span>@Umbraco.GetDictionaryValue("USN Menu")</span>
            </div>
            <nav class="@animation.AnimationClass" data-os-animation="@animation.AnimationStyle" data-os-animation-delay="@animation.AnimationDelay">
                <ul class="nav @alignment">
                    @foreach (var item in Model.AnchorNavigation)
                    {
                        string linkUrl = item.link.LinkAnchor != String.Empty && Umbraco.Content(item.link.LinkUdi).Parent.Parent.Id == Model.Parent.Parent.Id ? item.link.LinkAnchor : item.link.LinkUrl;

                        <li class="nav-item"><span><a class="nav-link" href="@linkUrl" @Html.Raw(item.link.LinkTarget) @Html.Raw(item.link.LinkTitle)>@Html.Raw(item.icon)@item.link.LinkText@Html.Raw(item.link.LinkTargetIcon)</a></span></li>
                    }
                </ul>
            </nav>

            @if (pageLayout == "pageLayoutFull")
            {
                if (Model.ComponentWidth == "componentWidthCenter")
                {
                    @:</div></div></div>
                }
                else
                {
                    @:</div>
                }
            }

        </section>
    }
}